@import "node_modules/bootstrap/scss/bootstrap";

$badge-border-radius: 20px;
$border-radius: 20px;
$border-radius-lg: 20px;
$border-radius-sm: 20px;
$badge-pill-border-radius: 20px;
$btn-border-radius: 20px;
$btn-border-radius-lg: 20px;
$btn-border-radius-sm: 20px;
$card-border-radius: 20px;
$input-border-radius: 20px;
$input-border-radius-lg: 20px;
$input-border-radius-sm: 20px;
$toast-border-radius: 20px;
$alert-border-radius: 20px;
$tooltip-border-radius: 20px;
$popover-border-radius: 20px;
$nav-tabs-border-radius: 20px;
$dropdown-border-radius: 20px;
$progress-border-radius: 20px;
$nav-pills-border-radius: 20px;
$thumbnail-border-radius: 20px;
$list-group-border-radius: 20px;
$breadcrumb-border-radius: 20px;
$custom-file-border-radius: 20px;
$custom-select-border-radius: 20px;
$modal-content-border-radius: 20px;
$navbar-toggler-border-radius: 20px;
$pagination-border-color: $white;
$pagination-disabled-border-color: $white;
$card-inner-border-radius: 20px;
$popover-inner-border-radius: 20px;
$dropdown-inner-border-radius: 20px;

$breadcrumb-bg: #transparent (white, 0);
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-500;

